In [1]:
import os
import pandas as pd
import snscrape.modules.twitter as sntwitter
import numpy as np
import datetime

In [2]:
code_dir = os.getcwd()
parent_dir = os.path.dirname(code_dir)
data_dir = os.path.join(parent_dir,"Data")
tweet_dir = os.path.join(parent_dir,"TweetMap")

In [3]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Mon Mar  1 10:40:16 2021

@author: Arbo
"""

def twittsearch(text_query,since_date,until_date,tweetcount):
    tweets_list = []

    query = '{0} since:{1} until:{2} filter:has_engagement'.format(text_query, since_date, until_date)
    print(query)

    # Using TwitterSearchScraper to scrape data and append tweets to list

    for i,tweet in enumerate(sntwitter.TwitterSearchScraper(query).get_items()):

        if i>tweetcount:

            break
        tweets_list.append([tweet.date, tweet.id, tweet.content, 
                            tweet.lang,tweet.retweetedTweet,tweet.quotedTweet])

    # Creating a dataframe from the tweets list above

    tweets_df = pd.DataFrame(tweets_list, 
                             columns=['Datetime', 'TweetId', 'Text',
                                     "Language", "RTFrom", "QTFrom"])
    
    print("found {} tweets ranging from {} to {}".format(len(tweets_df),
                                                            tweets_df.Datetime.min(),tweets_df.Datetime.max()))
    
    print("dropping duplicates")   
    tweets_df = tweets_df.drop_duplicates(subset=['TweetId'])
    print("total of tweets now: {}".format(len(tweets_df)))
    print("english only")

    tweets_df = tweets_df[tweets_df["Language"]=='en']
    print("total of tweets now: {}".format(len(tweets_df)))
    tweets_df = tweets_df[tweets_df["RTFrom"].isna()]
    print("total of tweets now: {}".format(len(tweets_df)))
    tweets_df = tweets_df[tweets_df["QTFrom"].isna()]
    print("total of tweets now: {} ranging from {} to {}".format(len(tweets_df),
                                                                tweets_df.Datetime.min(),tweets_df.Datetime.max()))
    
    return tweets_df

In [6]:
scrapestart =  datetime.datetime.now() 
print("Scraping commenced at {}".format(scrapestart))
# =============================================================================
text_query = '("forest fire") OR wildfire OR bushfire OR \
(extreme heat) OR (record heat) OR heatwave OR ("heat wave") OR typhoon OR cyclone OR hurricane OR \
tornado OR ("storm surge") OR  blizzard OR snow OR ("ice storm") OR sleet OR thunderstorm OR \
hail OR flood OR flooding OR freeze OR frost OR (extreme cold) OR landslide OR tsunami OR ("tidal wave") OR \
earthquake OR eruption OR volcano OR lava OR lahar OR avalanche OR mudslide OR sinkhole'


# qlist = [firemetq_geologicalotherq]
# qname= ['fire & meteorlogical & geological & other']
since_date = '2021-07-06'
until_date = '2021-07-07'
tweetcount = 150000
# tweets_df = twittsearch(qname,qlist,since_date,until_date,tweetcount)
twittsearch(text_query,since_date,until_date,tweetcount).to_csv(os.path.join(tweet_dir,'tweets_df_{0}_{1}.csv'.
                              format(since_date.replace('-',''),until_date.replace('-',''))),
                 index =False)
# =============================================================================
scrapend =  datetime.datetime.now()
print("Scraping ended at {}".format(scrapend))
print("Scraping time {}".format(scrapend-scrapestart))

Scraping commenced at 2021-07-14 23:01:23.775771
("forest fire") OR wildfire OR bushfire OR (extreme heat) OR (record heat) OR heatwave OR ("heat wave") OR typhoon OR cyclone OR hurricane OR tornado OR ("storm surge") OR  blizzard OR snow OR ("ice storm") OR sleet OR thunderstorm OR hail OR flood OR flooding OR freeze OR frost OR (extreme cold) OR landslide OR tsunami OR ("tidal wave") OR earthquake OR eruption OR volcano OR lava OR lahar OR avalanche OR mudslide OR sinkhole since:2021-07-06 until:2021-07-07 filter:has_engagement
found 80882 tweets ranging from 2021-07-06 00:00:00+00:00 to 2021-07-06 23:59:59+00:00
dropping duplicates
total of tweets now: 80882
english only
total of tweets now: 48558
total of tweets now: 48558
total of tweets now: 45358 ranging from 2021-07-06 00:00:00+00:00 to 2021-07-06 23:59:59+00:00
Scraping ended at 2021-07-14 23:15:01.095476
Scraping time 0:13:37.319705

In [11]:
since_date = '2021-07-12'
until_date = '2021-07-13'

In [12]:
os.path.join(tweet_dir,'tweets_df_{0}_{1}.csv'.
                              format(since_date.replace('-',''),until_date.replace('-','')))

'/Volumes/Elements/DataScience/dsa/capstone/TweetMap/tweets_df_20210712_20210713.csv'

In [13]:
tweets_df = pd.read_csv(os.path.join(tweet_dir,'tweets_df_{0}_{1}.csv'.
                              format(since_date.replace('-',''),until_date.replace('-',''))))

In [14]:
tweets_df.dtypes

Datetime     object
TweetId      object
Text         object
Language     object
RTFrom      float64
QTFrom      float64
dtype: object

In [15]:
len(tweets_df)

59143

In [16]:
t2 = tweets_df[tweets_df.QTFrom.isna() ]
t2.QTFrom.unique()

array([nan])

In [17]:
# tweets_df.to_csv(os.path.join(tweet_dir,'tweets_df_{0}_{1}.csv'.
#                               format(since_date.replace('-',''),until_date.replace('-',''))),
#                  index =False)

In [18]:
tweets_df

,Datetime,TweetId,Text,Language,RTFrom,QTFrom
0,2021-07-12 23:59:57+00:00,1414736318144421896,@Spence2G @ZayaRose7 Friend! What the hell?!! ü§£ü§£,en,NaN,NaN
1,2021-07-12 23:59:54+00:00,1414736307050405888,@SimulateSwag listening to osquinn,en,NaN,NaN
2,2021-07-12 23:59:53+00:00,1414736300041715717,@NaurTaurNaur They are on I just don‚Äôt interact,en,NaN,NaN
3,2021-07-12 23:59:52+00:00,1414736297189548032,im begging u dowoon pls more selcas without th...,en,NaN,NaN
4,2021-07-12 23:59:51+00:00,1414736292097761282,@_justdess Everywhere I go it never fails! Got...,en,NaN,NaN
...,...,...,...,...,...,...
59138,2021-07-12 00:00:00+00:00,1414373943897739274,The National Weather Service in Paducah has co...,en,NaN,NaN
59139,2021-07-12 00:00:00+00:00,1414373943595601921,(Cosmetic Showcase) Elemental Motorists!üååüî•\n\n...,en,NaN,NaN
59140,2021-07-12 00:00:00+00:00,1414373943578746884,#AdoringGod This Week: We can trust the Lord t...,en,NaN,NaN
59141,2021-07-12 00:00:00+00:00,1414373942576357377,LT's Weekly Watchlist for 7/12-7/16üö®\n\nA full...,en,NaN,NaN
59142,2021-07-12 00:00:00+00:00,1414373942102351872,‚ö†Ô∏è#IranüáÆüá∑: A mild #earthquake of magnitude Mn=...,en,NaN,NaN